@model IEnumerable<CURD.Models.UserBill>

@{
    ViewData["Title"] = "BillList";
}

<h1>BillList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.bill)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userID)
                </td>
                <td>
                    <a asp-action="Editbill" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="DetailsBill" asp-route-id="@item.id">Details</a> |
                    <a asp-action="DeleteBill" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
